[submodule "Golf-Tracker"]
	path = Golf-Tracker
	url = https://github.com/bspangler21/Golf-Tracker.git
[submodule "GolfTrackerAPI"]
	path = GolfTrackerAPI
	url = https://github.com/bspangler21/GolfTrackerAPI.git
[submodule "GolfTrackerExpress"]
	path = GolfTrackerExpress
	url = https://github.com/bspangler21/GolfTrackerExpress.git
